body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.search-fix {
    width: 60px;
    border-radius: 50%;
    border-top-left-radius: 0;
    transition: 0.5s ease;
}

.search-fix:focus-within,
.search-fix:hover {
    width: 50%;
    border-radius: 0;
}

#modal-description {
    height: 40vh;
    overflow-y: scroll;
}

#modal-images {
    height: 40vh;
    overflow: hidden;
}

#modal-user-container {
    height: 40vh;
    overflow-y: scroll;
}

#modal-footer {
    margin-bottom: 0;
}


.settings-area,
.settings-name {
    padding-left: 10px;
}

.avatar {
    width: 35px;
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}