/*
 * Class that limits the BasicCard to only showing
 * 2 lines of text.
 * Usage: <p class="basic-card-ellipsis">Long text, very long</p>
 * */

.basic-card {
    margin-left: auto;
    margin-right: auto;
    min-height: 10%;
    max-height: 15%;
}



.text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    /* number of lines to show */
}

.app-card-img {
    border-radius: 3%;
    width: 350px;
    height: 100%;
    overflow: hidden;
    background-color: white;
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
}

.app-card-img-thumbnail {
    width: 100%;
    border-radius: 20%;
    height: 100%;
}


.app-card-footer {
    width: 100%;
    position: bottom;
    border-top: 1px solid rgba(160, 160, 160, 0.2);
}

.app-card-avatar {
    width: 10%;
    border-radius: 100%;
    position: relative;
    left: 200px;
    top: 30px;
}


.app-card-img-title {
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 10px;
    max-width: 100%;
    bottom: 0;
    left: 0;
}

.app-card-img-details {
    background-color: inherit;
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    position: relative;
    padding: 16px 24px;
}



.topic-title {
    background-color: rgba(160, 160, 160, 0.15);
    padding: 10px;
}



.control .btn-floating {
    margin: 5px;
    opacity: 0.6;
    width: 24px;
    height: 24px;
    line-height: 24px;
    padding-top: 2px;
}

.control .btn-floating i {
    position: absolute;
    font-size: 20px;
    line-height: 20px;
}

.control .btn-floating:hover {
    opacity: 1;
    transform: rotate(-360deg);
}

#example {
    padding: 15px;
}

.card {
    transition: transform 0.3s, opacity 0s;
}

.card::before {
    content: '';
    transform: translate3d(0px, 0px, 0px);
    transition: 0.3s;
    opacity: 0.5;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: inherit;
    border-radius: inherit;
    z-index: -1;
}

.edit>.card {
    box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.75);
    opacity: 1 !important;
}

.mockup::before {
    content: '';
    display: block;
    transform: rotate(2deg);
    width: 100%;
    height: 100%;
    background-color: inherit;
    border-radius: inherit;
}

.mockup {
    opacity: 0.4;
    transform: rotate(-1deg);
}

.mockup:hover {
    opacity: 0.8;
    transform: rotate(0deg);
}

.mockup-fab {
    position: absolute;
    opacity: 1;
    top: -20px;
    right: 10px;
}

.mockup.is-dragged {
    opacity: .5;
    -webkit-transform: scale(.8);
    transform: scale(.8);
    -webkit-transition: opacity .25s ease-out, -webkit-transform .15s ease-out;
    transition: opacity .25s ease-out, transform .15s ease-out;
}

.mockup.dropover {
    opacity: 0.8;
    -webkit-transition: opacity .1s;
    transition: opacity .1s;
    border: 2px dashed white;
}

.mockup.dropover:after {
    transform: scale(1.0) 1s ease-in-out;
}

#card-container {
    height: 100%;
    vertical-align: middle;
    padding-top: 50px;
    padding-right: 40px;
    padding-left: 40px;
    display: grid;
    width: 100%;
    grid-column-gap: 20px;
    grid-row-gap: 15px;
    grid-template-columns: repeat(4, 400px);
}

.rounded {
    border-radius: .50rem !important;
}

.card-swapped {
    opacity: 0.8;
    transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    /*
    transform .15s ease-out;
    transform: rotate(0deg);
    transform: scale(1.1);
    -webkit-transform .15s ease-out;
    -webkit-transform: scale(1.1);
*/
}

.column {
    padding-right: 20px;
    padding-right: 20px;
}
